.tradition {
  background-color: $bg-color;
  height: 133px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/sectionbg.jpg);
  //   padding-top: 766px;
  //   padding-bottom: 789px;
}
